.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: blueviolet;
    border-radius:  5px;
}

.carousel-item{
    padding: 20px 40px;
}



.buy-now-button{
    background-color:tomato;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}